<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wj.ssm.mapper.PermissionMapper">


    <!--添加资源权限-->
    <insert id="save">
        insert into permission(permissionName,url) values(#{permissionName},#{url})
    </insert>


    <!--查询所有资源权限-->
    <select id="findAll" resultType="Permission">
        select * from permission
    </select>


</mapper>